In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#read table from the website
res = requests.get("https://photius.com/rankings/world2050_rank.html")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

#get country names
country_name = pd.Series(df[0][1])
#get 2000 population
population_2000 = pd.Series(df[0][3])
#get 2015 population
population_2015 = pd.Series(df[0][4])

#join 3 series created above into the dataframe
population_df = country_name.to_frame().join(population_2000).join(population_2015)

#clean up the dataframe
population_df.rename(columns={1:'Country',
                             3 : '2000',
                             4 : '2015'}, inplace=True)
population_df = population_df[6:233]

population_df['2015'] = population_df['2015'].astype(float)
population_df['2000'] = population_df['2000'].astype(float)

population_df['Delta'] = population_df['2015'] - population_df['2000']

population_df.set_index('Country', inplace=True)
print(population_df)

#record dataframe to csv
population_df.to_csv('Population.csv')

                                  2000       2015     Delta
Country
India                        1008937.0  1230484.0  221547.0
China                        1275133.0  1410217.0  135084.0
United States of America      283230.0   321225.0   37995.0
Pakistan                      141256.0   204267.0   63011.0
Indonesia                     212092.0   250068.0   37976.0
Nigeria                       113862.0   165313.0   51451.0
Bangladesh                    137439.0   183159.0   45720.0
Brazil                        170406.0   201393.0   30987.0
Dem. Rep. of the Congo         50948.0    84045.0   33097.0
Ethiopia                       62908.0    89765.0   26857.0
Mexico                         98872.0   119175.0   20303.0
Philippines                    75653.0    95881.0   20228.0
Vietnam                        78137.0    94413.0   16276.0
Iran (Islamic Republic of)     70330.0    87103.0   16773.0
Egypt                          67884.0    84425.0   16541.0
Japan                         127096.0   127522.0     426.0
Russian Federation            145491.0   133314.0  -12177.0
Yemen                          18349.0    33118.0   14769.0
Uganda                         23300.0    38739.0   15439.0
Turkey                         66668.0    79004.0   12336.0
Unites republic of Tanzania    35119.0    49343.0   14224.0
Thailand                       62806.0    72490.0    9684.0
Afghanistan                    21765.0    35577.0   13812.0
Colombia                       42105.0    52641.0   10536.0
Germany                        82017.0    80673.0   -1344.0
Myanmar                        47749.0    55260.0    7511.0
Sudan                          31095.0    42433.0   11338.0
France                         59238.0    61892.0    2654.0
Saudi Arabia                   20346.0    31748.0   11402.0
United Kingdom                 59415.0    60566.0    1151.0
...                                ...        ...       ...
Isle of Man                       75.0       83.0       8.0
Bermuda                           63.0       69.0       6.0
Antigua and Barbuda               65.0       68.0       3.0
Dominica                          71.0       70.0      -1.0
Greenland                         56.0       58.0       2.0
Faroe Islands                     46.0       52.0       6.0
British Virgin Islands            24.0       32.0       8.0
Liechtenstein                     33.0       37.0       4.0
Turks and Caicos Islands          17.0       26.0       9.0
Palau                             19.0       26.0       7.0
Monaco                            33.0       37.0       4.0
Saint Kitts and Nevis             38.0       35.0      -3.0
San Marino                        27.0       31.0       4.0
Cook Islands                      20.0       22.0       2.0
Nauru                             12.0       17.0       5.0
Anguilla                          11.0       16.0       5.0
Gibraltar                         27.0       26.0      -1.0
Wallis and Futuna Islands         14.0       16.0       2.0
Tuvalu                            10.0       12.0       2.0
Montserrat                         4.0        6.0       2.0
Saint Helena 7                     6.0        7.0       1.0
Saint Pierre and Miqueleon         7.0        8.0       1.0
Falkland Islands                   2.0        3.0       1.0
Niue                               2.0        2.0       0.0
Holy See 4                         1.0        1.0       0.0
Tokelau                            1.0        1.0       0.0
Pitcairn 6                         0.0        0.0       0.0
Dominican Republic              8737.0        NaN       NaN
East Timor                       737.0        NaN       NaN
Ecuador                        12646.0        NaN       NaN

[227 rows x 3 columns]

In [2]:
#USA refugee
usa = "USA_cleaned_final.csv"
can = "can_cleaned_final.csv"
usa_df = pd.read_csv(usa)
can_df=pd.read_csv(can)

# Merge two dataframes using an inner join
merge_table = pd.merge(usa_df, can_df, on=["Origin","Year"])

merge_table = merge_table.iloc[:,[0,2,4,7]]

merge_table= merge_table.rename(columns={"Total Population_x": 'USA',
                                "Total Population_y": 'CAN'
                                })
merge_table

merge_table['Noth America'] = merge_table['USA'] - merge_table['CAN']

In [3]:
merge_table['Noth America'] = merge_table['USA'] + merge_table['CAN']
merge_table = merge_table.groupby(['Origin']).sum()
refudies_df = merge_table.drop(columns=['Year'])
refudies_df

merged = pd.concat([refudies_df, population_df], axis=1, join_axes=[refudies_df.index])

merged.rename(columns={'USA':'USA Refugies from 2000 to 2015',
                        'CAN' : 'CAN Refugies from 2000 to 2015',
                             'Noth America' : 'Total Noth America Regies 15 years',
                      '2000' : "Origin Country Population at 2000 x1000",
                      '2015' : "Origin Country Population at 2015 x1000",
                      'Delta' : 'Origin Country Population Change (15 years)'}, inplace=True)

merged

,USA Refugies from 2000 to 2015,CAN Refugies from 2000 to 2015,Total Noth America Regies 15 years,Origin Country Population at 2000 x1000,Origin Country Population at 2015 x1000,Origin Country Population Change (15 years)
Origin,,,,,,
Afghanistan,78694,125145,203839,21765.0,35577.0,13812.0
Albania,98106,34190,132296,3134.0,3439.0,305.0
Algeria,8925,25637,34562,30291.0,38022.0,7731.0
Angola,4833,13466,18299,13134.0,20795.0,7661.0
Antigua and Barbuda,51,661,712,65.0,68.0,3.0
Argentina,4355,8491,12846,37032.0,43498.0,6466.0
Armenia,101067,2913,103980,3787.0,3808.0,21.0
Aruba,0,0,0,101.0,157.0,56.0
Australia,37,100,137,NaN,NaN,NaN
Austria,81,70,151,8080.0,7848.0,-232.0
Azerbaijan,27930,8985,36915,8041.0,8725.0,684.0
Bahamas,1133,363,1496,304.0,359.0,55.0
Bahrain,476,146,622,640.0,793.0,153.0
Bangladesh,33744,35228,68972,137439.0,183159.0,45720.0
Barbados,50,1076,1126,267.0,281.0,14.0
Belarus,46626,4163,50789,10187.0,9664.0,-523.0
Belgium,540,232,772,10249.0,10272.0,23.0
Belize,629,131,760,226.0,287.0,61.0
Benin,1004,809,1813,6272.0,9448.0,3176.0
Bermuda,0,1,1,63.0,69.0,6.0
Bhutan,1179,208,1387,2085.0,3070.0,985.0
Bolivia (Plurinational State of),2265,2310,4575,NaN,NaN,NaN
Bosnia and Herzegovina,548440,43177,591617,3977.0,4279.0,302.0
Botswana,61,1827,1888,1541.0,1694.0,153.0
Brazil,15419,4457,19876,170406.0,201393.0,30987.0
Brunei Darussalam,0,1,1,328.0,417.0,89.0
Bulgaria,17144,16227,33371,7949.0,6816.0,-1133.0
Burkina Faso,7992,1825,9817,11535.0,18509.0,6974.0
Burundi,13995,32471,46466,6356.0,9835.0,3479.0
Cabo Verde,75,13,88,NaN,NaN,NaN
...,...,...,...,...,...,...
Sudan,147730,47832,195562,31095.0,42433.0,11338.0
Suriname,698,148,846,417.0,437.0,20.0
Swaziland,58,794,852,925.0,1022.0,97.0
Sweden,140,237,377,8842.0,8625.0,-217.0
Switzerland,22,270,292,7170.0,6972.0,-198.0
Syrian Arab Rep.,28215,12053,40268,NaN,NaN,NaN
Tajikistan,2941,1157,4098,6087.0,7097.0,1010.0
Thailand,1283,1316,2599,62806.0,72490.0,9684.0
The former Yugoslav Republic of Macedonia,4345,2231,6576,NaN,NaN,NaN
Togo,35107,4223,39330,4527.0,6576.0,2049.0
Tonga,63,3,66,99.0,105.0,6.0
Trinidad and Tobago,1434,4120,5554,1294.0,1392.0,98.0
Tunisia,967,3824,4791,9459.0,11257.0,1798.0
Turkey,8922,60093,69015,66668.0,79004.0,12336.0
Turkmenistan,3985,352,4337,4737.0,6059.0,1322.0
Turks and Caicos Islands,62,23,85,17.0,26.0,9.0
Uganda,22470,9307,31777,23300.0,38739.0,15439.0
Ukraine,226062,27285,253347,49568.0,43335.0,-6233.0
United Arab Emirates,469,442,911,2606.0,3230.0,624.0
United Kingdom,1729,923,2652,59415.0,60566.0,1151.0
United Rep. of Tanzania,2724,7143,9867,NaN,NaN,NaN
United States of America,0,7363,7363,283230.0,321225.0,37995.0
Uruguay,572,3229,3801,3337.0,3670.0,333.0
Uzbekistan,41949,4326,46275,24881.0,30554.0,5673.0
Various/Unknown,307580,41535,349115,NaN,NaN,NaN
Venezuela (Bolivarian Republic of),89556,13298,102854,NaN,NaN,NaN
Viet Nam,208198,2959,211157,NaN,NaN,NaN
Yemen,7343,4568,11911,18349.0,33118.0,14769.0
Zambia,1595,833,2428,10421.0,14796.0,4375.0
Zimbabwe,20730,46723,67453,12627.0,16368.0,3741.0

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
refudies_df.to_csv("refudies_df.csv", index=False, header=True)